body 
{
  background-color: #fff;
  color: #000;
  font-family: arial,arial,helvetica,sans-serif;
  font-size: 13px;
  height: 50%;
  line-height: 23px;
  padding: 10px;
  text-align:-moz-center;
  width: 50%;
  margin:160px auto;
  vertical-align: middle;
  -moz-box-shadow: 10px 10px 5px #656565;
  -webkit-box-shadow: 10px 10px 5px #656565;
  -o-box-shadow: 10px 10px 5px #656565;
  box-shadow: 1px 1px 3px #656565;
  filter:progid:DXImageTransform.Microsoft.Shadow(color='#6565', Direction=135, Strength=5); 
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  text-align: moz-center;
}
h1
{
  text-align: moz-center;
}

table
{
  position: relative;
  width:600px;
  text-align: left;
}

input
{
  opacity: 0.8;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration:none;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

textarea {
  width: 200px;
  height: 100px;
  opacity: 0.4;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  display: table;
}

#error_explanation {
  width: 330px;
  box-shadow: 1px 1px 3px #656565;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #000;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
